$hover-text-color: #fce38a;
$primeri-white-color: #ffffff;
$font-stack-roboto: 'Roboto', sans-serif;
$font-stack-monserrat: 'Montserrat', sans-serif;
$font-stack-kaushan: 'Kaushan Script', cursive;
$card-baskground-color: #95e1d3;
$position-color: #999999;
$style-italic: italic;
$border-color: #e5e5e5;
$valid-color:#00ff00;
$invalid-color:#ff0000;
$baskground-hover-buttom: #4bc7b0;
$designer-name-color: #333333;
$designer-name-color-hover: #f38181;